{% extends 'base.html' %}

{% block title%}Cart{% endblock %}

{% block main %}
<table class="cart-table">
    {% set ns=namespace(total = 0) %}
<div class="cart">
   <div class="cart-item">
       <div class="item-name">
           Name
       </div>
       <div class="item-description">
           <div>
               Quantity
           </div>
           <div>
               Price
           </div>
           <div>
               Item Total
           </div>
       </div>
       <div class="item-delete mobile-column">
           Remove Item
       </div>
   </div>
   {% for item in cart_data %}
       <div class="cart-item">
           <div class="item-name">
               {{ item[2] }}
           </div>
           <div class="item-description">
               <div>
                   {{ item[1] }}x
               </div>
               <div>
                   ${{ "{:.2f}".format(item[3]) }}
               </div>
               <div>
                   ${{ "{:.2f}".format(item[3] * item[1]) }}
               </div>
               {% set ns.total = ns.total + item[3] * item[1] %}
           </div>
           <div class="item-delete mobile-column">
               <a href="/removefromcart/{{ item[0] }}">X</a>
           </div>
       </div>
   {% endfor %}
</div>
<div class="cart-total">
   Total: ${{ "{:.2f}".format(ns.total) }}
</div>

</table>

    <div>
        <a href="/confirmorder">Confirm Order &raquo;</a>
    </div>

{% endblock %}